/***************************
General
****************************/

body {
    font-family: 'Open Sans', sans-serif;

}

ul {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
}

a {
    color: #A8B7C2;
}

/****************************
Header
****************************/

header {
    background-image: url(../images/header.jpg);
    height: 523px;
    width: 1300px;
    margin: auto;
    color: #0a3450;
}

.navContainer {
    margin: 0 140px;
}

#logo {
    background-image: url(../images/logo.png);
    height: 45px;
    width: 45px;
    display: inline-block;
    margin: 10px 15px 0 0;
}

#logoTitle {
    position: relative;
    display: inline-block;
    font-size: 15.7px;
    margin: 0;
    left: -6px;
    top: -17px;

}

nav {
    float: right;
    display: inline-block;
}

nav ul {
    overflow: hidden;
    margin-top: 17px;
}

nav ul li {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-left: 14px;
    float: left;
    color: #0a3450;
}

#search-icon {
    background-image: url(../images/search-icon.png);
    display: inline-block;
    height: 18px;
    width: 16px;
    margin: 4px 28px 0 6px;
    float: right;
}

.titleContainer {
    position: relative;
    top: 25.5%;
    text-align: center;
}

header h1 {
    position: relative;
    font-size: 98px;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

header h4 {
    margin: 0;
    font-size: 15px;
    margin-top: -16px;
    font-weight: 400;
    letter-spacing: -1px;
}

/****************************
Main Content
****************************/

.mainContent {
    margin: 62px 230px;
}

.columnLeft {
    width: 66%;
    margin-right: 4%;
    float: left;
}

.subtitle {
    overflow: hidden;
    font-size: 13px;
    padding-top: 10px;
    margin-bottom: 40px;
}

.subtitle > * {
    float: left;
    margin-left: 10px;
    color: #A8B7C2
}

.columnLeft .subtitle p {
    margin-top: 0;
    margin-bottom: 0;
    color: #3982BB;
}

.thumbnail {
    background-image: url(../images/avatar.png);
    background-size: cover;
    height: 25px;
    width: 25px;
    margin: -5px 0px 0px 5px;
}

.columnLeft h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 62.5px;
    font-weight: 400;
    color: #0A3451;
    line-height: 70px;
    margin: 0;
}

.columnLeft p {
    margin-bottom: 40px;
    color: #545E64;
}

#rollover {
    position: relative;
    color: #3982BB;
    text-decoration: underline;
    font-weight: 700;
}

#rollover:after {
    content: "";
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 300px;
    width: 200px;
    background-image: url(http://lorempixel.com/200/300);
    transition: opacity .3s ease-in;
}

#rollover:hover:after {
    visibility: visible;
    opacity: 1;
}

blockquote {
    font-size: 27px;
    color: #3982BB;
    padding: 16px;
    margin-top: -14px;
    margin-left: 9px;
    margin-bottom: 12px;
    border-left: 1px solid #A8B7C2;
}

.buttonRow {
    margin-top: -12px;
    margin-bottom: 70px;
    float: left;

}

.buttonWrapper {
    margin-right: 10px;
    float: left;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    height: 30px;
    padding: 0 8px;
    background-color: #A4B3BE;
    color: #fff;
}

.buttonWrapper:hover > .icon {
    background-color: #083452;
}

.buttonWrapper:hover > .button {
    background-color: #196EB1;
}

.icon {
    text-align: center;
    line-height: 35px;
    background-color: #5E686F;
    height: 30px;
    width: 35px;
    display: inline-block;
    float: left;
}

/****************************
Column Right
****************************/

.columnRight {
    width: 30%;
    float: left;
}

.avatar {
    background-image: url(../images/avatar.png);
    width: 84px;
    height: 84px;
    border-radius: 50%;
    margin: 20px auto;
}

.author {
    text-align: center;
}

.author h4 {
    margin-top: -10px;
    margin-bottom: 0;
    color: #3982BB;
}

.author ul li {
    display: inline-block;
    margin: 0 4px;
    font-size: 14px;
}

.ad {
    background-image: url(../images/ad.jpg);
    position: relative;
    width: 278px;
    height: 300px;
    margin: 50px auto 70px;
}

.ad a {
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 14px;
}

.sidebar h3 {
    font-family: 'Oswald', sans-serif;
    color: #3982BB;
    margin: 5px 0;
}

.sidebar p {
    color: #A8B7C2;
    margin: 0;
    font-size: 14px;
}

/****************************
Posts
****************************/

/****************************

box {
    position: relative;
}

box:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: color;
    position: absolute;
}

box:hover:after {
    display: none;
}

***************************