header {
    height: 270px;
}

#logoTitle {
    display: none;
}

#logo {
    position: absolute;
    left: 50%;
    margin-left: -22.5px;
    top: 60px;
}

.navContainer {
    position: relative;
    width: 190px;
    margin-left: -92.5px;
    left: 50%;
    padding-top: 15px;
}

nav ul {
    margin-top: 0;
}

.titleContainer h1 {
    margin-top: 60px;
    font-size: 9vw;
    line-height: .85;
}

.titleContainer h4 {
    font-size: 4vw;
    margin-top: 0;
}

/****************************
Main Content
****************************/

.columnLeft {
    width: 100%;
}

.columnRight {
    float: none;
    clear: both;
}

.subtitle img {
    display: none;
}

.subtitle p {
    display: none;
}

.subtitle span:nth-child(3) {
    display: none;
}

main {
    margin: 12vw 6%;
}

#rollover:after {
    display: none;
}

.icon {
    line-height: 40px;
    height: 40px;
    width: 45px;
}

.button {
    display: none;
}

.columnRight {
    width: 100%;
}

.author {
    font-size: 5vw;
}

.author ul li {
    font-size: 4vw;
}

.sidebar {
    display: none;
}

.posts h2 {
    font-size: 9vw;
}

.blog {
    width: 100%;
}

figcaption {
    color: #fff;
}

footer {
    height: 200px;
}

.footerContainer {
    font-size: 3vw;
    margin: 0 6%;
    text-align: center;
    position: relative;
}

footer p {
    position: absolute;
    top: 130px;
    font-size: 3.2vw
}

footer img {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -23px;
}

footer ul {
    float: none;
    padding-top: 25px
}